<h4 class=''> Datasets (<%= @datasets.total_entries %> of <%= @h_counts[:all] %>) </h4>

<div class='float-right'>
  <div class='float-left mr-1 pt-2'><span class=''>Page</span></div>
  <div class='float-left'>
    <%= text_field_tag 'dataset_page', session[:dataset_settings][:page], {:class => 'form-control mr-2 dataset_page', :style => 'width:60px'} %>
  </div>
  <div class='float-left'>
    <div class="input-group btn-group" role="group" aria-label="nav_search_btns">
      <button id='dataset_prev_btn' type="button" class="dataset_page_nav-btn btn btn-outline-primary" <%= "disabled='disabled'" if session[:dataset_settings][:page] ==1 %>><i class="fas fa-chevron-left"></i> Prev page</button>
      <button id='dataset_next_btn' type="button" class="dataset_page_nav-btn btn btn-outline-primary" <%= "disabled='disabled'" if session[:dataset_settings][:page] == (@datasets.total_entries.to_i / session[:dataset_settings][:per_page].to_i ).round + 1 %>>Next page <i class="fas fa-chevron-right"></i></button>
    </div>
  </div>
</div>
<% l = [5, 25, 50, 100, 500].map{|e| ["#{e} results per page", e]} %>
<%= select_tag 'dataset_per_page', options_for_select(l, session[:dataset_settings][:per_page] || 5), {:class => 'form-control col-md-2 per_page'} %>

<%= hidden_field_tag 'dataset_total', @datasets.total_entries %>
<%= hidden_field_tag 'dataset_dataset_ids', @datasets.map{|p| p.id}.join(",") %>

<%= render :partial => ("search_" + session[:dataset_settings][:search_view_type] + "_view"), :locals => {:datasets => @datasets, :type => ''} %>

</div>

<%= javascript_tag do %>
$("#dataset_per_page").change(function(){
 var t = this.id.split("_")
// var type = t[0]
 var h = {loading:'fa-2x'}
 dataset_search([], h)
})

$("#search_menu-nav li .nav-link").click(function(){
 console.log("bla")
 var p = [{name : 'search_type', value :  this.id.split("_")[0]}];
 refresh_post(null, "<%= set_search_session_datasets_path %>", p, 'post', {})
})

$(".dataset_page_nav-btn").click(function(){
 var t = this.id.split("_")
 // var search_type = t[0]
 var direction = t[0]
 var cur_val = parseInt($("#dataset_page").val())
 if (direction == 'prev'){
  $("#dataset_page").val(cur_val - 1)
 }else{
  $("#dataset_page").val(cur_val + 1)
 }
 console.log("#dataset_page: " + $("#dataset_page").val())
 var h = {loading:'fa-2x'}
 dataset_search([], h)
})

$(".dataset_page").keyup(function(e){
 var t = this.id.split("_")
// var type = t[0]
 // console.log("KEY:" + e.key)
 if (e.key == 'Enter'){
  // validate page #
  if (parseInt($("#dataset_total").val()) < (parseInt($("#dataset_page").val())-1) * parseInt($("#dataset_per_page").val())){
   console.log("Too high page number!")
   $("#dataset_page").val(Math.round(parseInt($("#dataset_total").val())/parseInt($("#dataset_per_page").val()))+1)
  }
  var h = {loading:'fa-2x'}
  dataset_search([], h)
 }
})


<% end %>
