<%# @h_ext_sources.to_json %>
<% if datasets.size > 0 %>

<p style="color: green"><%= notice %></p>

  <table id = "datasets" width="100%" class='table-striped'> <!-- class="table table-striped-columns align-middle table-bordered">-->
    <thead>
      <tr>
        <!-- ROW NUMBER -->
        <th scope="col"> <!--min-width: 80px">-->
          <p class="text-center">ID</p>
        </th>
	
        <!-- SOURCE TABLE HEADER -->
        <th scope="col"><!-- style="min-width: 100px">-->
            <p class="text-center">Source</p>
        </th>
	<th scope="col"><!-- style="min-width: 100px">-->
            <p class="text-center">Links</p>
        </th>

        <!-- DOI TABLE HEADER -->
        <th scope="col"><!-- style="min-width: 300px">-->
            <p class="text-center">Article</p>
        </th>

	        <th scope="col"><!-- style="min-width: 300px">-->
          <p class="text-center"># cells</p>
        </th>
	<th scope="col"><!-- style="min-width: 300px">-->
          <p class="text-center">Technology</p>
        </th>
		
	<th scope="col"><!-- style="min-width: 300px">-->
          <p class="text-center">Origin</p>
        </th>

	<th scope="col"><!-- style="min-width: 300px">-->
          <p class="text-center">Other metadata</p>
        </th>

      </tr>
    </thead>
    <tbody class="">
        <% datasets.each_with_index do |dataset, index|%>
        <tr>
          <td class="text-center"><%= dataset.id %></td>
	  
          <td class="text-center">
	    <% url = (dataset.dataset_id and @explore_sources_url[dataset[:source]]) ? @explore_sources_url[dataset[:source]].gsub(/\#ID/, dataset.dataset_id) : @sources[dataset[:source]][0] %>
	    <div class='d-flex justify-content-center align-items-center bg-dark rounded border p-2' style='width:<%= @sources[dataset[:source]][1] + 20 %>px'>
	      <span class='hidden'><%= @sources[dataset[:source]][0] %></span>
	      <%= link_to image_tag(dataset.source.downcase + ".svg", width: "#{@sources[dataset[:source]][1]}px"), url, { :target => "_blank", :title => "#{dataset.source}", "data-bs-toggle" => 'tooltip', "data-bs-placement" => 'bottom', "data-bs-html" => 'true'} %>
	    </div>
	  </td>
	  <td>
	    <% links = dataset[:processed_data].uniq %>
	    <% links.each do |link| %>                                                                                                   
            <% extension = link.split('.')[-1]%>                                                                                       
            <%= link_to raw("<i class='fa fa-download'></i> #{extension}"), link, class: "btn btn-sx btn-dark" %>                               
            <% end %>

	    <% if raw_data_links = dataset[:link_to_raw_data].uniq and raw_data_links.size > 0 %>
	    <br/>
	    <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">                                                   
              <small><i><%= "#{raw_data_links.size} external resources" %></i></small>                                                                                          
            </span>                                                                                                                                                          
            <ul class="dropdown-menu">                                                                                                                                         
	      <% tmp_links = [] %>
              <% raw_data_links.each_with_index do |link, i| %>
              <% es_str = dataset.ext_source_ids[i] %>
              <% uri = URI.parse(link) %>
	      <% disp =  uri.host %>
	      <% if es_str and t = es_str.split("|") and es = @h_ext_sources[t[0].to_i] %>
	      <% if t[1] and t[1] != '' %>
	      <% disp = "<i>#{es.name}:</i> #{t[1] || ''}" %>
	      <% else %>
	      <% disp = "<i>#{es.name}</i>" %>
	      <% end %>
	      <% end %>
              <% tmp_links.push [disp, link] %>                                                                              
              <% end %>                                                                                                                                                        
	      <% tmp_links.sort.each do |l| %>
	        <li class="px-2 py-1">
		  <%= link_to raw(l[0]), l[1], target: "_blank" %>
		</li>
	      <% end %>
	    </ul>
	    <% end %>
	  </td>
	  <td class="text-center <%= (dataset[:doi].nil?) ? 'bg-light' : '' %> ">
            <%= dataset[:doi].nil? ? "" : (link_to raw(display_study(@h_studies[dataset[:doi]])), "https://dx.doi.org/#{dataset[:doi]}", {"data-bs-toggle" => 'tooltip', "data-bs-placement" => 'bottom',  "data-bs-html" => 'true',  "title" => ((@h_studies[dataset[:doi]]) ? @h_studies[dataset[:doi]].title : ''), :target => '_blank'})  %>
          </td>
	  <td class='text-end pe-5'><%= display_nber_cells(dataset.number_of_cells[0]) %></td>
	  <td  class="text-center"><%= raw dataset[:assay_info].uniq.join("<br/>") %></td>
	  
	  <td class='text-center'>
	    <%# dataset.organisms.join("<br/>") %>
	    <% @fields.each do |field_name, field_hash| %>
            <% if [:organisms, :tissue, :developmental_stage].include? field_name %>
            <% field_content = display_field(field_name, dataset, @fields) %>
	    <%= raw(field_content + "<br/>") if field_content != '' %>
	    <% end %>
            <% end %>
	  </td>
	  <td class='text-center'>
	    <% if dataset[:sex] and sex_list = dataset[:sex].uniq.sort and sex_list.size > 0 %>
	    <i>sex:</i> <%= raw sex_list.join(", ") %><br/>
	    <% end %>
	    <% @fields.each do |field_name, field_hash| %>
	    <% if [:disease, :cell_types].include? field_name %>
	    <% field_content = display_field(field_name, dataset, @fields) %>
	     <%= raw(field_content + "<br/>") if field_content != '' %>
	    <% end %>
	    <% end %>
	  </td>
        </tr>
        <% end %>
    </tbody>
  </table>

  <%= javascript_tag do %>


    var dataset_table = $("#datasets").DataTable({
         dom: 'lrtip',
        "fnInitComplete": function (oSettings, json) {
/*            const container = document.querySelector('#datasets_container')
            const spinner = document.querySelector('#spinner')
            const _search_form = document.querySelector('#_search_form')
            spinner.style.display = "none";
            container.style.display = "block";
  _search_form.style.display = "block";
  */
  },
  "drawCallback": function(settings) {
 /* console.log('Table redrawn - page change detected');
  initTooltips()
  */
        }
    })

/*  var datasets = <%= raw datasets.to_json %>
  var fields = <%= raw @fields.keys.to_json %> <%# .map{|k| @fields[k][:label]}.to_json %>

  
  
  var h_list_values = {}
  
  for (var j=0; j< fields.length; j++){
		   h_list_values[fields[j]] = {}
		   
		   for (var i=0; i < datasets.length; i++){
				     
				     let v = datasets[i][fields[j]]
				     if (Array.isArray(v)){
				      v.map(x => {h_list_values[fields[j]][x] ||= {};  h_list_values[fields[j]][x][datasets[i].id]=1} )
		                     }else{
		                       h_list_values[fields[j]][v] ||= {}
		                       h_list_values[fields[j]][v][datasets[i].id]=1
		                     }
		   }
  }	   
		   var dataset_ids = datasets.map(x => x.id)
  set_filter_autocomplete(h_list_values, dataset_ids)		   

    $("#datasets_container").removeClass("hidden")
    $("#filter_fields_container").removeClass("hidden")
    $("#filter_fields_waiting").addClass("hidden")
*/
    initTooltips()
    
  <% end %>

  <% else %>

  <div class='alert alert-danger'>No dataset found.</div>
  
  <% end %>
