<div class="container">
  <div class='row justify-content-md-center'>
    <!-- <div class='col col-xs-6 col-md-6 col-lg-7 mb-2'> -->
      <div class='col-md-7  mb-2'>
	<div class="input-group btn-group" role="group" aria-label="Search">
          <%= text_field_tag 'dataset_free_text', session[:dataset_settings][:free_text] || '', {:size => 30, :class => "form-control", :placeholder => "Search"} %>
	  <button id='dataset_search-btn' type="button" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
          <%# label_tag 'Page size' %>
	</div>
      </div>
	   
      <div class='col-md-2 mb-2'>
      </div>
      <%= hidden_field_tag 'dataset_search_view_type', session[:dataset_settings][:search_view_type] %>
      
    </div>
  </div>
  
  <div id='filters'>
  </div>
  
  <div id='dataset_search_results' class="m-4"></div>
</div>
<%= javascript_tag do  %>

$(".dataset_search_view_btn").click(function(){
 var v = this.id.split("_")[0]
 //console.log(v)
 //console.log( $("#dataset_search_view_type").val())
 var l = ['card', 'list']
 if (v != $("#dataset_search_view_type").val()){
  // console.log("v")
   $("#dataset_search_view_type").val(v)
   for (var i=0; i< l.length; i++){
    // console.log("remove " + l[i])
     $("#dataset_" + l[i] + "_view_btn").removeClass("btn-success")
     $("#dataset_" + l[i] + "_view_btn").addClass("btn-outline-success")
   }
   $("#dataset_" + v + "_view_btn").addClass("btn-success")
   $("#dataset_" + v + "_view_btn").removeClass("btn-outline-success")
   var p = [{name : 'free_text', value : $("#dataset_free_text").val()}]
   var h = {loading:'fa-2x'}
   dataset_search(p, h)
 }
})

<% if params[:q] %>
 $("#dataset_free_text").val('<%= params[:q] %>')
<% end %>

function dataset_search(p, h) {
 if (p.length > 0 && p[0].name == 'auto'){ // refresh without input if auto
  h.not_upd_if_empty = 1
 }
 if ($("#dataset_search_results").html() != ''){
  var fields = ['per_page', 'page', 'dataset_ids', 'search_view_type']
  for (var i=0; i< fields.length; i++){
   p.push({name : fields[i], value : $("#dataset_" + fields[i]).val()})
  }
 }
 <% if workspace_key = params[:workspace_key] %>
   p.push({name : "workspace_key", value : "<%= workspace_key %>"})
 <% end %>
 if ($("#only_not_validated").prop("checked") == true){
    p.push({name : "only_not_validated", value : "1"})
 }
 if ($("#filter_by_journal").val() != ''){
    p.push({name : "journal_id", value : $("#filter_by_journal").val()})
 }
 console.log("do_search")
 refresh_post("dataset_search_results", "<%= do_search_datasets_path() %>", p, 'post', h);
}

function dataset_init_search(){
  $("#dataset_page").val(1)
}

$("#dataset_search-btn").click(function(){
  dataset_init_search()
  console.log("bla")
  var p = [{name : 'free_text', value : $("#dataset_free_text").val()}]
  var h = {loading:'fa-2x'}
  dataset_search(p, h)
})

$("#dataset_free_text").keyup(function(e){
 // console.log("KEY:" + e.key)
 if (e.key == 'Enter'){
  dataset_init_search()
  var p = [{name : 'free_text', value : $("#dataset_free_text").val()}]
  var h = {loading:'fa-2'}
  dataset_search(p, h)
 }
})

$(document).ready(function(){
var p = [{name : 'free_text', value : $("#dataset_free_text").val()}]
var h = {loading:'fa-2x'}
dataset_search(p, h)
})


/*function upd_search(){
dataset_search([{name : 'auto', value : '1'}], {})
}

dataset_upd_search()
*/
//window.setInterval(upd_search, 10000)
//window.setInterval(function(){ $("#ontop_window").addClass("hidden")}, 5000)

 $("#only_not_validated").click(function(){
$("#dataset_search-btn").click()
 })

 $("#filter_by_journal").change(function(){
$("#dataset_search-btn").click()
 })
 
<% end %>
