<div id ='_search_form' class='ml-3 mr-3 mt-3' style="display: none"><!-- class="flex-column justify-content-start align-items-center h-100">-->

  <div id='filter-container' class='float-end'>
    <button id='filter-btn' class='btn btn-primary text-white' type='button'>
      <i id='filter-btn-icon' class='fa-solid fa-angle-left'></i> Filters
      <span id='nber_applied_filters' class='badge bg-light text-primary'>0</span>
    </button>
  </div>
  
<!--  <div class='d-flex justify-content-between align-items-center w-80 p-4'> -->
    <div class="container">
      <div class="row justify-content-center">
	<div class="col-md-6">
          <div class="form-inline justify-content-center">
	    <div class="input-group" role="group" aria-label="Search">
              <!--    <div class="input-group btn-group" role="group" aria-label="Search">-->
		<%= text_field_tag 'dataset_free_text', session[:d_settings][:free_text] || '', {:class => "form-control", :placeholder => "Search"} %>
		<button id='dataset_search-btn' type="button" class="btn btn-primary text-white">Search</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
<!--  </div> -->
  

  <div id='ontop_popup_window'>
<!--    <div id='ontop_popup_window_close'><span onclick="$('#ontop_popup_container').html(''); $('#ontop_popup_window').css({display : 'none'}); $('#ontop_autocomplete_window').css({display : 'none'});"><i class='fa fa-times-circle'></i></span></div>-->
    <div id='ontop_popup_container'>

      <div class='float-end'>
	<button id='reset_filters_btn' class='btn btn-outline-danger' type='button'><i class="fa-regular fa-circle-xmark"></i> Reset all</button>
      </div>
      <div class='clear-both'></div>
      <h4><b class="mb-2">Filters</b><h4>
	  
	  <div id='filter_fields_container' > <!--class="d-flex flex-column justify-content-around align-items-center p-2">-->
	    <% @fields.each do |field_name, h_field| %>
	    <% if !@fields_without_autocomplete_filter.include? field_name %>
	  <!--  <div class="d-flex flex-column">-->
              <%= text_field_tag "filter_" + field_name.to_s, '', {:size => 30, :class => "filter_field form-control p-3 my-1", :placeholder => h_field[:label].to_s} %>
	      <div id='filter_<%= field_name.to_s %>_reset' class='autocomplete-reset hidden pointer'><i class='fa-regular fa-circle-xmark'></i></div>
	      <div id='filter_<%= field_name.to_s %>_autocomplete_container' class='autocomplete-container text-primary'></div>
	  <!--  </div>-->
	    <% end %>
	    <% end %>
	  </div>
    </div>
  </div>
</div>


<%= javascript_tag do %>

function rotateIcon(icon) {
console.log("rotate")
$(icon).animate(
{ deg: 180 },
{
duration: 200,
step: function(now) {
$(this).css({ transform: 'rotate(' + now + 'deg)' });
},
complete: function() {
$(this).css({ transform: 'rotate(0deg)' });
rotateIcon(); // Repeat the animation
}
}
);
}


$("#filter-btn").click(function(){
console.log("toto")
let w = $(window).width();
let slideDiv = $("#ontop_popup_window");
let datasets_container = $("#datasets_container")
if (slideDiv.css('right') == '0px') {
slideDiv.animate({ right: '-300px' }, 100).hide();
datasets_container.animate({width : w + "px", "padding-right" : "0px"}, 100);
//rotateIcon($("#filter-btn-icon"))
$("#filter-btn-icon").addClass("fa-angle-left")
$("#filter-btn-icon").removeClass("fa-angle-right")
} else {
slideDiv.show().animate({ right: '0px' }, 100);
datasets_container.animate({width : (w) + 'px', "padding-right" : "420px"}, 100);
$("#filter-btn-icon").removeClass("fa-angle-left")
$("#filter-btn-icon").addClass("fa-angle-right")
}

})


$("#reset_filters_btn").click(function(){
$(".filter_field").each(function(){
$(this).val("")
 $("#" + this.id + "_reset").addClass("hidden")
})
$("#nber_filters").html("0")
   let dataset_ids = datasets.map(x => x.id)
  filterDataTable2(dataset_ids)
  set_filter_autocomplete(h_list_values, dataset_ids)

})

$(".autocomplete-reset").click(function(){
const regex = /^filter_(.*?)_reset$/;
const match = this.id.match(regex);
if (match) {
const field_name = match[1];
$(this).addClass("hidden")
$("#filter_" + field_name).val("")
$("#filter_" + field_name).focus()
}
upd_nber_filters()
 let dataset_ids = datasets.map(x => x.id)
 filtered_h_list_values = filter_hash(h_list_values, dataset_ids)
   dataset_ids = getListofDatasetIDs(filtered_h_list_values)
  if (dataset_ids.length == 0){
dataset_ids = datasets.map(x => x.id)
}
filterDataTable2(dataset_ids)
  set_filter_autocomplete(filtered_h_list_values, dataset_ids)

})


function resize_filter_window(){
var h = $(window).height();
var w = $(window).width();
var slideDiv = $("#ontop_popup_window");
var datasets_container = $("#datasets_container")
slideDiv.css({height : h-300})
if (slideDiv.css('right') == '0px') {
 datasets_container.css({width:(w) + "px", "padding-right" : "420px"})
}
}

$(document).ready(function(){
resize_filter_window();
})

$(window).resize(function(){
resize_filter_window()
})


<% end %>
