<p style="color: green"><%= notice %></p>

<%= render @ext_source %>

<div>
  <%= link_to "Edit this ext source", edit_ext_source_path(@ext_source) %> |
  <%= link_to "Back to ext sources", ext_sources_path %>

  <%= button_to "Destroy this ext source", @ext_source, method: :delete %>
</div>
