<header class="row bg-dark p-3">
  <div class="col-2">
    <%= link_to image_tag("scfair.png", height: 100, width: 90, alt: "ScFair
								      logo"), "/"%>
  </div>
  <div class="col-10 d-flex justify-content-end align-items-end">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container w-100">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon">&nbsp;</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <!-- <li class="nav-item dropdown">
		 <%= link_to 'Data', '/',  {class: 'nav-link dropdown-toggle btn btn-dark', role:"button", "data-bs-toggle":"dropdown", "aria-expanded":"false" } %> -->
		 <!--              <ul class="dropdown-menu">   -->             
		   <li class="nav-item">
                     <%= link_to 'Home', root_path(),  {class: "nav-link"  } %>
                   </li>

		   <li class="nav-item">
                     <%= link_to 'Data', explore_path(),  {class: "nav-link"  } %>
                   </li>
                   <li class="nav-item">
                     <%= link_to 'Resources', resources_path,  {class: "nav-link" } %>
                   </li>
                   <li class="nav-item">
                     <%= link_to 'Metadata schema', metadata_schema_path,  {class: "nav-link"  } %>
                   </li>
		   <!--              </ul>
				     </li> -->
            <li class="nav-item">
              <%= link_to 'Tools', tools_path,  {class: 'nav-link' } %>
            </li>
            <li class="nav-item">
              <%= link_to 'Community', community_path,  {class: 'nav-link', role:"button", "aria-expanded":"false" } %>
            </li>
            <li class="nav-item">
              <%= link_to 'About', about_path,  {class: 'nav-link', role:"button", "aria-expanded":"false" } %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact us', contact_path,  {:class => 'nav-link' } %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
