<nav id='header_nav' class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div id='page_title'>
    <a class="navbar-brand" href="<%= root_path %>">ScFAIR<%# image_tag "", height: 35%> <small style='color:grey;font-style:italic'></small></a>
  </div>
  <div style='position:fixed; top:10px;right:10px'>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id='main-nav' class="navbar-nav mr-auto">
        <li class="nav-item mr-4">
          <%= link_to 'Home', home_index_path(),  {:class => 'nav-link' } %>
        </li>

        <li class="nav-item mr-4">
          <%= link_to 'Team', team_home_index_path(),  {:class => 'nav-link' } %>
        </li>
	
	<% if current_user %>
        <% end %>
        <% if current_user %>
        <li class='nav-item'>
          <%= link_to current_user.email, edit_user_registration_path, :class => 'nav-link mr-3' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Logout',  destroy_user_session_path, :method => :delete, :class => 'nav-link mr-3' %>
        </li>
        <% else %>
        <li class='nav-item'>
          <%= link_to 'Login', new_user_session_path, :class => 'nav-link mr-3' %>
        </li>
        <% end %>

	
      </ul>
    </div>
  </div>
</nav>

<%= javascript_tag do %>

<% end %>
