<div class="d-flex flex-column flex-grow-1 m-0 p-0">
    <div class="d-flex justify-content-between align-items-center w-100 p-4">
        <div>
        </div>
        <nav class="p-0 m-0" aria-label="...">
            <ul class="pagination">
                <li class="page-item <%= @page_number == 1 ? 'disabled' : ''%>">
                    <%= link_to 'Previous', generate_url(@page_number - 1), class: "page-link text"%>
                </li>
                <% for i in get_pagination @page_number, @number_of_rows, @per_page %>
                    <li class="page-item <%= @page_number == i ? "active" : '' %>" <%= @page_number == i ? 'aria-current="page"' : ''%>>
                        <%= link_to i, generate_url(i), class: "page-link text"%>
                    </li> 
                <%end%>
                <li class="page-item <%= (@page_number * @per_page) >= @number_of_rows  ? 'disabled' : ''%>">
                    <%= link_to 'Next', generate_url(@page_number + 1), class: "page-link text" %>
                </li>
            </ul>
        </nav>
        <p>
            Number of results: <span class="badge bg-secondary p-2" > <%= @number_of_rows %> </span>
        </p>
    </div>
    <form action="<%= generate_url 1 %>" method="get">
        <div class="table-responsive">
            <table class="table table-striped-columns align-middle table-bordered">
                <thead>
                    <tr>
                        <!-- ROW NUMBER -->
                        <th scope="col" style="min-width: 150px">
                            <p class="text-center">Row number</p>
                        </th>    
                        <!-- SOURCE TABLE HEADER -->
                        <th scope="col" style="min-width: 300px">
                            <p class="text-center">Source</p>
                            <select name="source" class="form-select" onchange="this.form.submit()">
                                <option value="all" <%= 'selected' if params[:source].nil? %> >All</option>
                                <% @sources.each do |source| %>
                                    <option value="<%= source %>" <%= 'selected' if params[:source] == source %>>
                                        <%= source %>
                                    </option>                                
                                <%end%>
                            </select>
                        </th>

                        <!-- DOI TABLE HEADER -->
                        <th scope="col" class="text-center" style="min-width: 300px">DOI</th>

                        <!-- FIELDS TABLE HEADER -->
                        <% @fields.each do |field_name, field_hash| %>
                            <th scope="col" style="min-width: 300px">
                                <p class="text-center"><%= field_name %></p>
                                <% excluded = [:number_of_cells] %>
                                <% if !excluded.include? field_hash[:name] %>
                                    <select name="<%= field_hash[:name] %>" class="form-select" onchange="this.form.submit()">
                                        <option value="all" <%= 'selected' if params[field_hash[:name]] == "all" %>>All</option>
                                        <% field_hash[:distinct_values].each do |value| %>
                                            <option value="<%= value %>" <%= 'selected' if params[field_hash[:name]] == value %>>
                                                <%= value %>
                                            </option>                                
                                        <%end%>
                                    </select>
                                <%end%>
                            </th>
                        <%end%>

                        <!-- PROCESSED DATA TABLE HEADER -->
                        <th scope="col" class="text-center" style="min-width: 300px">Processed Data</th>

                        <!-- LINK TO DATASET TABLE HEADER -->
                        <th scope="col" class="text-center" style="min-width: 300px">Link to Dataset</th>

                        <!-- EXTERNAL RESOURCES TABLE HEADER -->
                        <th scope="col" class="text-center" style="min-width: 300px">External resources</th>

                    </tr>
                </thead>

                <tbody class="table-group-divider">
                    <% @datasets.each_with_index do |dataset, index|%>
                        <tr>
                            <td class="text-center"><%= index + 1 %></td>
                            <td class="text-center"><%= link_to dataset[:source], @sources_link[dataset[:source].to_sym], target: "_blank" %></td>
                            <td class="text-center <%= dataset[:doi].nil? ? 'bg-light' : '' %> ">
                                <%= dataset[:doi].nil? ? "" : (link_to dataset[:doi], "https://dx.doi.org/#{dataset[:doi]}", target: "_blank")  %>
                            </td>
                            <% @fields.each do |field_name, field_hash| %>
                                <% if dataset[field_hash[:name]].length > 1 %>
                                    <%case field_hash[:name]%>
                                        <%when :tissue_uberon %>
                                            <td class="text-center">
                                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <%= "#{dataset[field_hash[:name]].length} #{field_name.to_s.downcase.pluralize}" %>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <% for i in (0..dataset[field_hash[:name]].length - 1)%>
                                                        <li class="px-2 py-1">
                                                            <%= link_to dataset[field_hash[:name]][i], "#{ontology_link_generator "uberon", dataset[field_hash[:name]][i]}", target: "_blank" %>
                                                        </li>
                                                    <%end%>
                                                </ul>
                                            </td>                                   
                                        <%when :developmental_stage_id %>
                                            <td class="text-center">
                                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <%= "#{dataset[field_hash[:name]].length} #{field_name.to_s.downcase.pluralize}" %>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <% for i in (0..dataset[field_hash[:name]].length - 1)%>
                                                        <li class="px-2 py-1">
                                                            <% type =  dataset[field_hash[:name]][i].split(":")[0].downcase %>
                                                            <%= link_to dataset[field_hash[:name]][i], "#{ontology_link_generator type, dataset[field_hash[:name]][i]}", target: "_blank" %>
                                                        </li>
                                                    <%end%>
                                                </ul>
                                            </td>                                     
                                        <%else%>
                                            <td class="text-center">
                                                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <%= "#{dataset[field_hash[:name]].length} #{field_name.to_s.downcase.pluralize}" %>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <% for i in (0..dataset[field_hash[:name]].length - 1)%>
                                                        <li class="px-2 py-1">
                                                            <%= dataset[field_hash[:name]][i] %>
                                                        </li>
                                                    <%end%>
                                                </ul>
                                            </td> 
                                    <%end%>                                
                                <%else%>
                                    <% dataset[field_hash[:name]].one? {|e| e.nil?} ? empty = true : empty = false %>
                                    <td class="text-center <%= empty ? "bg-light": "" %>">
                                        <%case field_hash[:name]%>
                                            <%when :tissue_uberon %>
                                                <%= link_to dataset[field_hash[:name]][0], "#{ontology_link_generator "uberon", dataset[field_hash[:name]][0]}", target: "_blank" %>
                                            <%when :developmental_stage_id %>
                                                <% type =  dataset[field_hash[:name]][0].split(":")[0].downcase %>
                                                <%= link_to dataset[field_hash[:name]][0], "#{ontology_link_generator type, dataset[field_hash[:name]][0]}", target: "_blank" %>
                                            <%else%>
                                                <%= dataset[field_hash[:name]][0] %>
                                        <%end%>
                                    </td>
                                <%end%>
                            <%end%>

                            <% if dataset[:processed_data].length > 1 %>
                                <td class="text-center">
                                    <ul class="list-group list-group-flush">
                                        <% for i in (0..dataset[:processed_data].length - 1) %>
                                            <li class="list-group-item">
                                                <% extension = dataset[:processed_data][i].split('.')[-1]%>
                                                <%= link_to "Download .#{extension}", dataset[:processed_data][i], class: "btn btn-dark px-2 w-75 display-block" %>
                                            </li>
                                        <% end %>
                                    </ul>
                                </td>
                            <% else %>
                                <% dataset[:processed_data].one? {|e| e.nil?} ? empty = true : empty = false %>
                                    <td class="text-center <%= empty ? 'bg-light' : '' %>"> 

                                        <% empty ? '' : extension = dataset[:processed_data][0].split('.')[-1] %>
                                        <%= empty ? '' : (link_to "Download .#{extension}", dataset[:processed_data][0], class: "btn btn-dark px-2 w-75 display-block") %>
                                    </td>
                            <% end %>

                            <% dataset[:link_to_dataset].nil? ? empty = true : empty = false %>
                                <td class="text-center <%= empty ? "bg-light" : "" %>">
                                    <%if !empty%>
                                        <% uri = URI(dataset[:link_to_dataset])%>
                                        <%= link_to "Go to #{uri.host}", dataset[:link_to_dataset], target: "_blank", class: "btn btn-warning px-2 display-block" %>
                                    <%end%>
                                </td>

                            <% if dataset[:link_to_raw_data].length > 1 %>
                                <td class="text-center">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <%= "#{dataset[:link_to_raw_data].length} external resources" %>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <% for i in (0..dataset[:link_to_raw_data].length - 1)%>
                                            <li class="px-2 py-1">
                                                <% uri = URI.parse(dataset[:link_to_raw_data][i]) %>
                                            <%= link_to uri.host, dataset[:link_to_raw_data][i], target: "_blank" %>
                                            </li>
                                        <%end%>
                                    </ul>
                                </td> 
                            <% else %>
                                <% dataset[:link_to_raw_data].length == 0 ? empty = true : empty = false %>
                                
                                <td class="text-center <%= empty ? 'bg-light' : '' %>"> 
                                    <% empty ? "" : uri = URI(dataset[:link_to_raw_data][0]) %>
                                    <%= empty ? '' : (link_to uri.host, dataset[:link_to_raw_data][0], target: "_blank", class: "btn btn-secondary px-2 w-75 display-block") %>
                                </td>
                            <% end %>

                        </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </form>
    <%if @number_of_rows == 0%>
        <div class="d-flex flex-column justify-content-evenly align-items-center h-100">
            <h3>Nothing to show here.<h3>
            <div>
                <%= image_tag("not_found.svg", height: 250, width: 250, alt: "not found") %>
            </div>
            <div>
                <%= link_to "Reset search" , explore_path(1) , class:"btn btn-primary w-100"%>  
            </div>
        </div>
    <%end%>
</div>
